.root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.item {
  position: relative;
  display: flex;
  flex: 1;
  padding-top: 2px;
  padding-left: 4px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.35);

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }
}
