@import "../../node_modules/antd/dist/antd.less";

@font-family: 'Lato', sans-serif;
@primary-color: #008950;

@layout-header-background: @primary-color;
@layout-header-padding: 0 30px;

@form-item-margin-bottom: 10px;

.ant-form-item:last-child {
  margin-bottom: 0;
}
