.menu {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  margin-left: auto;
  max-height: calc(100vh - 64px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
  z-index: 40;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: 100ms all ease-in-out;
  transform: scale(0.97);
  opacity: 0;
  pointer-events: none;

  &.active {
    transform: scale(1);
    opacity: 1;
    pointer-events: auto;
  }

  @media screen and (min-width: 768px) {
    margin-left: calc(50% + 21rem - 24rem - 1px);
  }
}
