.root {
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  width: 100vw;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -0.5rem;
  padding-bottom: 0.5rem;
  flex: 1;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-left: calc(-50vw + 21rem);
    margin-right: 0;
  }
}

.placeholder {
  display: block;
  scroll-snap-align: center;
  flex: 0 0 auto;
  width: 1rem;

  @media screen and (min-width: 768px) {
    width: calc(50% - 21rem);
  }
}
